/* 1. General */
body {
  margin:             0px;
  background-color:   #beeeee;
  font-family:        'Open Sans', sans-serif;
  text-shadow:        rgba(0, 0, 0, .01) 0 0 1px;
  padding-top:        50px;
  }

h1 {
  color:              #ea1936;
  }

h2, h3, h4, h5, h6, th {
  color:              #21a2e6;
  }

.container {
  background-image:   url(../img/bg.png);
  box-shadow:         0 1px 6px 1px rgba(0, 0, 0, 0.2);
  }

@media (min-width: 992px) {
  .container {
    margin-top:       15px;
    margin-bottom:    15px;
  }
}

.container > .row:nth-last-child(2) {
  padding-bottom:     50px;
  }

.featurette {
  padding-left:       20px;
  }

a {
  color:              #636363;
  }

.modal-sm {
  width:              140px;
  }

.navbar-brand {
  padding:            0;
  }

#upload-fake {
  cursor:             default;
  }

#upload-fake:hover,
#upload-fake:active {
  color:              #ffffff;
  background-color:   #5cb85c;
  border-color:       #4cae4c;
  }

.alert {
  display:            none;
  }

.datepicker, .timepicker {
  cursor:             auto!important;
  background-color:   #ffffff!important;
  }

.timepicker {
  margin-top:         5px;
  }

.help {
  font-size:          0.8em;
  }

#current-address {
  font-weight:        bold;
  }
/* End General */

/* Navbar Collapse Breakpoint */
@media (max-width: 1023px) {
  .navbar-header {
    float:            none;
    }

  .navbar-left,.navbar-right {
    float:            none !important;
    }

  .navbar-toggle {
    display:          block;
    }

  .navbar-collapse {
    border-top:       1px solid transparent;
    box-shadow:       inset 0 1px 0 rgba(255,255,255,0.1);
    }

  .navbar-fixed-top {
    top:              0;
    border-width:     0 0 1px;
    }

  .navbar-collapse.collapse {
    display:          none !important;
    }

  .navbar-nav {
    float:            none !important;
    margin-top:       7.5px;
    }

  .navbar-nav>li {
    float:            none;
    }

  .navbar-nav>li>a {
    padding-top:      10px;
    padding-bottom:   10px;
    }

  .collapse.in{
    display:          block !important;
    }
}
/* End Navbar Collapse Breakpoint */

/* Tables */
table.table-hover {
  cursor:             pointer;
  }

table > caption {
  font-weight:        bold;
  }

table span.arrow {
  margin-left:        10px;
  }
/* End Tables */

/* Alerts And Messages */
.error_message {
  color:              red;
  }

.success_message {
  color:              green;
  }

.error, .success {
  text-align:         center;
  }

.validate-error {
  font-size:          8pt;
  color:              red;
  display:            none;
  }
/* End Alerts And Messages */

/* Testimonials */
.testimonial > blockquote {
  position:           relative;
  }
.testimonial-col.approved > blockquote {
  border-left-color:  #CBF2FF;
  }

.testimonial-col.unapproved > blockquote{
  border-left-color:  #AF4747;
  }

.testimonial {
  position:           relative;
  margin-bottom:      0;
  padding:            10px 50px;
  min-height:         60px;
  }

.testimonial-col {
  margin-bottom:      20px;
  }

.testimonial:before,
.testimonial:after {
  content:            "\F10D";
  font-size:          2em;
  font-family:        "FontAwesome";
  position:           absolute;
  color:              #21A2E6;
  }

.testimonial:after {
  content:            "\F10E";
  right:              10px;
  bottom:             -0.7em;
  }

.testimonial:before {
  top:                -10px;
  left:               10px;
  }

.delete_testimonial,
.approve_testimonial {
  position:           absolute;
  top:                0;
  right:              5px;
  }

.approve_testimonial {
  right:              34px;
  }
/* End Testimonials */

/* Copyright footer  */
.footer {
  padding-top:        20px;
  background-image:   url('../img/footer.png');
  min-height:         100px;
  color:              #ffffff;
  margin-left:        -15px;
  margin-right:       -15px;
  }

.footer > .row {
  margin:             0;
  }

.social-row {
  text-align:         center;
  }

a.social-facebook:hover {
  color:              #3B5998;
  }

a.social-twitter:hover {
  color:              #33CCFF
  }

div.copyright>div {
  text-align:         center;
  font-size:          0.7em;
  height:             55px;
  margin-top:         18px;
  }

.contact a {
  color:              #ffffff;
  }
/* End Copyright Footer */

/* Scrollspy (admin page) */
.scrollspy {
  width:              180px;
  margin-top:         20px;
  }

.scrollspy > .nav > li.active > a {
  border-left:        2px solid #21a2e6;
  }

.nested-scrollspy > .nav > li.active > a {
  border-left:        1px solid #21a2e6;
  }

.nested-scrollspy > .nav > li > a {
  font-size:          0.8em;
  padding:            5px 5px 5px 25px;
  }
/* End Scrollspy (admin page) */

/* Orders */
@media (min-width: 992px) {
  #fillings, #decorations, #gallery {
    table-layout:     fixed;
    }
  }

.btn-link {
  padding:            0;
  }

#complete-order {
  display:            inline;
  }

.or {
  margin:             10px auto;
  display:            table;
  font-weight:        bold;
  font-style:         italic;
  }

span.arrow>a {
  text-decoration:    none;
  }

.modal-image {
  display:            block;
  max-width:          850px;
  max-height:         400px;
  margin:             0 auto;
  }

.calculating {
  height:             424px;
  width:              100%;
  position:           absolute;
  background:         rgba(255, 255, 255, 0.8);
  z-index:            1;
  text-align:         center;
  }

.panel-body {
  position:           relative;
  }
/* End Orders */

/* Edit Account */
.account-header {
  text-align:         center;
  }

@media (max-width: 992px) {
  .account-well {
    margin:             0 15px;
    }
}

.account-heading {
  margin:             0 0 20px 0;
  }
/* End Edit Account */

/* Cookies */
.cookies {
  position:           fixed;
  right:              25px;
  bottom:             -180px;
  width:              250px;
  color:              #ffffff;
  padding:            10px 10px 15px;
  border-radius:      5px;
  background:         rgba(90, 188, 240, 0.9);
  z-index:            99999999;
  }

.cookies a {
  color:              #ffffff;
  font-weight:        bold;
  text-decoration:    underline;
  }

.cookies button {
  width:              100%;
  margin-top:         10px;
  }
/* End Cookies */
