/* 1. General */
body {
  margin:             0px;
  background-color:   #beeeee;
  font-family:        'Open Sans', sans-serif;
  text-shadow:        rgba(0, 0, 0, .01) 0 0 1px;
  padding-top:        50px;
  }

h1 {
  color:              #ea1936;
  }

h2, h3, h4, h5, h6, th {
  color:              #21a2e6;
  }

.container {
  background-image:   url(../img/bg.png);
  box-shadow:         0 1px 6px 1px rgba(0, 0, 0, 0.2);
  }

@media (min-width: 992px) {
  .container {
    margin-top:       15px;
    margin-bottom:    15px;
  }
}

.container .row:nth-last-child(2) {
  padding-bottom:     50px;
  }

.featurette {
  padding-left:       20px;
  }

a {
  color:              #636363;
  }

.modal-sm {
  width:              140px;
  }

.modal {
  overflow:           hidden;
  }

.navbar-brand {
  padding:            0;
  }

#upload-fake {
  cursor:             default;
  }

#upload-fake:hover,
#upload-fake:active {
  color:              #ffffff;
  background-color:   #5cb85c;
  border-color:       #4cae4c;
  }

.alert {
  display:            none;
  }

.alert > .glyphicon {
  padding-right:      10px;
  }

.datepicker, .timepicker {
  cursor:             auto!important;
  background-color:   #ffffff!important;
  }

.timepicker {
  margin-top:         5px;
  }

.help {
  font-size:          0.8em;
  }
/* End General */

/* Tables */
table.table-hover {
  cursor:             pointer;
  }

table > caption {
  font-weight:        bold;
  }

table span.arrow {
  margin-left:        10px;
  }
/* End Tables */

/* Alerts And Messages */
.error_message {
  color:              red;
  }

.success_message {
  color:              green;
  }

.error, .success {
  text-align:         center;
  }

.validate-error {
  font-size:          8pt;
  color:              red;
  display:            none;
  }
/* End Alerts And Messages */

/* Testimonials */
p.approved {
  background-image:   linear-gradient(#E4F8FF, #CBF2FF);
  }

p.unapproved {
  background-image:   linear-gradient(#D6D6D6, #ADADAD);
  }

.testimonial {
  position:           relative;
  margin-bottom:      0;
  padding:            10px 50px;
  border-radius:      5px;
  min-height:         60px;
  }

.testimonial-col {
  margin-bottom:      20px;
  }

.testimonial:before,
.testimonial:after {
  content:            "\201C";
  font-size:          80px;
  font-family:        Georgia;
  position:           absolute;
  color:              #21A2E6;
  }

.testimonial:after {
  content:            "\201D";
  right:              10px;
  bottom:             -0.5em;
  }

.testimonial:before {
  top:                0;
  left:               10px;
  }

div.approved {
  border-top:         15px solid #CBF2FF;
  }

div.unapproved {
  border-top:         15px solid #ADADAD;
  }

.downarrow {
  width:              0;
  height:             0;
  border-left:        15px solid transparent;
  border-right:       15px solid transparent;
  margin:             0 0 0 25px;
  }

.testimonial-name, span.title {
  color:              #21a2e6;
  font-weight:        bold;
  }

.delete_testimonial,
.approve_testimonial {
  margin-left:        10px;
  }
/* End Testimonials */

/* Copyright footer  */
.footer {
  padding-top:        20px;
  background-image:   url('../img/footer.png');
  min-height:         100px;
  color:              #ffffff;
  }

div.copyright>div {
  text-align:         center;
  font-size:          0.7em;
  }
/* End Copyright Footer */

/* Scrollspy (admin page) */
.scrollspy {
  width:              180px;
  margin-top:         20px;
  }

.scrollspy > .nav > li.active > a {
  border-left:        2px solid #21a2e6;
  }

.nested-scrollspy > .nav > li.active > a {
  border-left:        1px solid #21a2e6;
  }

.nested-scrollspy > .nav > li > a {
  font-size:          0.8em;
  padding:            5px 5px 5px 25px;
  }
/* End Scrollspy (admin page) */

/* Orders */
@media (min-width: 992px) {
  #fillings, #decorations, #gallery {
    table-layout:     fixed;
    }
  }

.btn-link {
  padding:            0;
  }

#complete-order {
  display:            inline;
  }

.or {
  margin:             10px auto;
  display:            table;
  font-weight:        bold;
  font-style:         italic;
  }

span.arrow>a {
  text-decoration:    none;
  }

.modal-image {
  display:            block;
  max-width:          850px;
  max-height:         400px;
  margin:             0 auto;
  }
/* End Orders */
