/* 1. General */
body {
  margin:             0px;
  background-color:   #beeeee;
  font-family:        'Open Sans', sans-serif;
  text-shadow:        rgba(0, 0, 0, .01) 0 0 1px;
  padding-top:        50px;
  }

h1 {
  color:              #ea1936;
  }

h2, h3, h4, h5, h6, th {
  color:              #21a2e6;
  }

.container {
  background-image:   url(../img/bg.png);
  box-shadow:         0 1px 6px 1px rgba(0, 0, 0, 0.2);
  }

@media (min-width: 992px) {
  .container {
    margin-top:       15px;
    margin-bottom:    15px;
  }
}

.container .row:nth-last-child(2) {
  padding-bottom:     50px;
  }

.featurette {
  padding-left:       20px;
  }

a {
  color:              #636363;
  }

.modal-sm {
  width:              140px;
  }

.navbar-brand {
  padding:            0;
  }

iframe#ifileupload {
  border:             none;
  width:              100%;
  }

#upload-fake {
  cursor:             default;
  }

#upload-fake:hover,
#upload-fake:active {
  color:              #ffffff;
  background-color:   #5cb85c;
  border-color:       #4cae4c;
  }

.alert {
  display:            none;
  }

.alert > .glyphicon {
  padding-right:      10px;
  }

.datepicker, .timepicker {
  cursor:             auto!important;
  background-color:   #ffffff!important;
  }

.timepicker {
  margin-top:         5px;
  }
/* End General */

.orders {
  width:              80%;
  margin-left:        auto;
  margin-right:       auto;
  }

.memberlist {
  width:              60%;
  margin-left:        auto;
  margin-right:       auto;
  }

.form>form>div,
.tabslider>ul>li>div {
  margin-bottom:      9px;
  }

table.table-hover {
  cursor:             pointer;
  }

table > caption {
  font-weight:        bold;
  }

table span.arrow {
  margin-left:        10px;
  }

.error_message {
  color:              red;
  }

.success_message {
  color:              green;
  }

.error, .success {
  text-align:         center;
  }

p.approved {
  background-image:   linear-gradient(#E4F8FF, #CBF2FF);
  }

p.unapproved {
  background-image:   linear-gradient(#D6D6D6, #ADADAD);
  }

.testimonial {
  position:           relative;
  margin-bottom:      0;
  padding:            10px 50px;
  border-radius:      5px;
  min-height:         60px;
  }

.testimonial-col {
  margin-bottom:      20px;
  }

.testimonial:before,
.testimonial:after {
  content:            "\201C";
  font-size:          80px;
  font-family:        Georgia;
  position:           absolute;
  color:              #21A2E6;
  }

.testimonial:after {
  content:            "\201D";
  right:              10px;
  bottom:             -0.5em;
  }

.testimonial:before {
  top:                0;
  left:               10px;
  }

div.approved {
  border-top:         15px solid #CBF2FF;
  }

div.unapproved {
  border-top:         15px solid #ADADAD;
  }

.downarrow {
  width:              0;
  height:             0;
  border-left:        15px solid transparent;
  border-right:       15px solid transparent;
  margin:             0 0 0 25px;
  }

.testimonial-name, span.title {
  color:              #21a2e6;
  font-weight:        bold;
  }

input.valid, textarea.valid {
  color:              #468847 !important;
  background-color:   #DFF0D8 !important;
  border: 1px solid   #D6E9C6 !important;
  }

input.invalid, textarea.invalid {
  color:              #B94A48 !important;
  background-color:   #F2DEDE !important;
  border: 1px solid   #EED3D7 !important;
  }

.validate-error {
  font-size:          8pt;
  color:              red;
  display:            none;
  }

.delete_testimonial,
.approve_testimonial {
  margin-left:        10px;
  }

#complete-order {
  display:            inline;
  }

.or {
  margin:             10px auto;
  display:            table;
  font-weight:        bold;
  font-style:         italic;
  }

.pound {
  float:              right;
  margin-top:         4px;
  }

.forgot-password {
  font-size:          small;
  }

span.arrow>a {
  text-decoration:    none;
  }

.small-link {
  font-size:          0.5em;
  }

#delivery-edit-row {
  display:            none;
  }

.ajax-load {
  background-image:   url('../img/spinner.gif');
  background-repeat:  no-repeat;
  height:             80px;
  width:              80px;
  margin:             0 auto;
  }

.modal-image {
  display:            block;
  margin:             0 auto;
  }
/* Copyright footer  */
.footer {
  padding-top:        20px;
  background-image:   url('../img/footer.png');
  min-height:         100px;
  color:              #ffffff;
  }

hr.fancy-line { 
  border:             0; 
  height:             13px;
  background-image:   url("../img/featurette-divider.png");
  background-repeat:  repeat-x;
  margin:             20px -15px;
  }

div.copyright {
    width:            100%;
  }

div.copyright>div {
  text-align:         center;
  font-size:          0.7em;
  }
/* End Copyright Footer */

progress {
  float:              right;
  display:            none;
  }

.help {
  font-size:          0.8em;
  }

.scrollspy {
  width:              180px;
  margin-top:         20px;
  }

.scrollspy > .nav > li.active > a {
  border-left:        2px solid #21a2e6;
  }

.nested-scrollspy > .nav > li.active > a {
  border-left:        1px solid #21a2e6;
  }

.nested-scrollspy > .nav > li > a {
  font-size:          0.8em;
  padding:            5px 5px 5px 25px;
  }
@media (min-width: 992px) {
  #fillings, #decorations {
    table-layout:       fixed;
    }
  }
