#order-stats {
  width:              48%;
  margin:             0;
  }

div.chart {
  opacity:            0;
  }

div#orders-chart, div#fillings-chart, div#decorations-chart {
  display:            inline-block;
  }

div#decorations-chart {
  float:              right;
  }

div#users-chart {
  display:            inline-block;
  position:           relative;
  float:              right;
  }

div.pie-key {
  display:            inline-block;
  width:              10px;
  height:             10px;
  }

div#users-chart-key {
  display:            inline-block;
  position:           absolute;
  top:                50%;
  }

div#users-chart-key > div {
  margin:             5px 0;
  }

div#users-chart-key > span {
  display:            inline-block;
  margin:             0;
  }
